@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 6.25rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

header .logo img {
    max-width: 9.375rem;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 0.625rem;
}

.navigation li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a {
    color: #de0611;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(0.63rem);
}

.search input::placeholder {
    color: white;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
    padding-right: 0.625rem;
    color: #fff;
    border-right: 0.07rem solid #fff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 6.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 35rem;
}

.banner .content h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.banner .content h4 span {
    padding: 0 0.7rem;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: #de0611;
    color: #fff;
    padding: 0 0.5rem;
    display: inline-block;
    font-style: normal;
    border-radius: 0.125rem;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 0.7rem 0 1.25rem;
}

.banner .content .button {
    position: relative;
}

.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 0.7rem;
    background: #de0611;
    color: #fff;
    padding: 0.4rem 1.25rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}

.banner .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 0.07rem solid rgba(255, 255, 255, 0.1);
}

.banner .content .button a:hover:nth-child(2) {
    background: #de0611;
    transition: 0.3s;
}

.play {
    position: absolute;
    bottom: 3.2rem;
    left: 6.25rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.07rem;
    font-size: 1.2em;
    cursor: pointer;
}

.play:hover {
    color: #de0611;
    transition: 0.3s;
}

.play img {
    margin-right: 0.7rem;
    max-width: 3.2rem;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 56.25rem;
    outline: none;
}

.close {
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    filter: invert(1);
    max-width: 2rem;
    cursor: pointer;
}

@media (max-width: 991px) {
    header {
        padding: 1.25rem 3.125rem;
        flex-direction: column;
    }
    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.7rem 0;
    }
    .banner {
        padding: 6.25rem 3.125rem;
    }
    .banner .play {
        left: 3.125rem;
        font-size: 1em;
    }
    .play img {
        margin-right: 0.7rem;
        max-width: 2.5rem;
    }
    .trailer video {
        max-width: 90%;
    }
}
